@import './stylesMain.scss';

.firstView{

    div{
        width: 518px;
        height: 328px;
        margin: 0px 100px;
        h1{
            font-size: 54px;
        }
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $neutralWhite ;
        background-color: $firstAzul;
        border-radius: $radius;
        border-color: $firstAzul;
        width: 184px;
        height: 60px;
        margin: 0px 100px;
    }
}