@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap" rel="stylesheet');

body{
    margin: 0px 100px;
    font-family: 'Oswald', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

$firstAzul: #1930DB;
$firstMagenta: #BA1863;
$firstAmarillo: #FFBC15;
$firstVerde: #0ED956;
$neutralWhite: #FFFFFF;

$radius: 10PX;



